body
{
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow: hidden;
    width: 750px;
    height: 695px;
}

h1
{
    margin: 0 0 10px;
}

p
{
    margin: 0;
}

p + p
{
    margin-top: 10px;
}

.sharethis-inline-reaction-buttons
{
    margin-top: 20px;
}

.farewell-picture
{
    margin: 0 -10px;
    text-align: center;
}
